dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8.4
django-filter==0.13.0
django-gitrevision==0.1.5
djangorestframework==3.3.3
gitdb==0.6.4
GitPython==1.0.1
gunicorn==19.3.0
heroku==0.1.4
Markdown==2.6.6
psycopg2==2.6.1
pystache==0.5.4
python-dateutil==1.5
requests==2.9.1
smmap==0.9.0
static==1.1.1
static3==0.6.1
wheel==0.24.0
