{% extends "browser/change_base.html" %}
{% load addcss %}

{% block title %}Create Person{% endblock %}
{% block main %}

<div class="alert alert-mbl">
    <div>
        <span class="h1">Add  Person</span>

    </div>
    {% if person.authority %}
    <div class="text-warning">
        <span class="glyphicon glyphicon-barcode"></span>
        {{ person.authority.conceptpower_uri|urlize }}
    </div>
    {% endif %}
    {% if person.validated %}
    <div>
        <span class="glyphicon glyphicon-ok" style="color:green;"></span>&nbsp;
        Validated by {{ person.validated_by }} on {{ person.validated_on }}.
    </div>
    {% endif %}
</div>

<div class="container">
    <p class="text-info">
        The below form will add a new <strong>Person</strong>.
    </p>

    {% for message in messages %}
    <div class="alert alert-danger"><h5>{{ message }}</h5></div>
    {% endfor %}

    <form action="." method="post" >
    {% csrf_token %}
    {% block form_fields %}
    {% with form.first_name as field %}
    <div class="row">
        <div class="col-xs-6">
        <div class="form-group">
            {% for error in field.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <label>{{ field.label }}</label>
            {{ field|addcss:"form-control input-sm" }}
            <p class="text-muted">{{ field.help_text }}</p>
        </div>
        </div>

    {% endwith %}

    {% with form.last_name as field %}
        <div class="col-xs-6">
        <div class="form-group">
            {% for error in field.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <label>{{ field.label }}</label>
            {{ field|addcss:"form-control input-sm" }}
            <div class="list-group" id="institution-results-container"></div>
            <p class="text-muted">{{ field.help_text }}</p>
        </div>
        </div>
    </div>
    {% endwith %}

    <div class="row">
    <div class="col-xs-12">
        {% with form.validated as field %}
        <div class="checkbox">
            {% for error in field.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <label>
                {{ field }} {{ field.label }}
            </label>
            <p class="text-muted">{{ field.help_text }}</p>
        </div>
        {% endwith %}
    </div>
    </div>

    {% with knownPersonForm.conceptpower_uri as field %}
    <div class="row">
        <div class="col-xs-6">
        <div class="form-group">
            {% for error in field.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <label>{{ field.label }}</label>
            <div class="input-group">
                <span class="input-group-btn">
                    <a class="btn glyphicon glyphicon-search"
                        href="https://chps.asu.edu/conceptpower/home/conceptsearch?word={{ person.name|plusencode }}&pos=noun"
                        target="_blank"
                        data-toggle="tooltip"
                        data-title="Search for this person in Conceptpower authority service">
                    </a>
                </span>
                {{ field|addcss:"form-control input-sm" }}
            </div>
            <p class="text-muted">{{ field.help_text }}</p>
        </div>
        </div>
    {% endwith %}

    {% with knownPersonForm.description as field %}
        <div class="col-xs-6">
        <div class="form-group">
            {% for error in field.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <label>{{ field.label }}</label>
            {{ field|addcss:"form-control input-sm" }}
            <p class="text-muted">{{ field.help_text }}</p>
        </div>
        </div>
    {% endwith %}
    </div>

    {% endblock %}

    <div class="row">
    <div class="text-center">
        <input class="btn btn-success" type="submit" value="Create">
        <a class="btn btn-danger" href="{% url "person_list" %}">Cancel</a>
    </div>
    </div>

    </form>


</div>
{% endblock %}
