{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" href="{% static "browser/css/bootstrap.min.css" %}" />
        <link rel="stylesheet" href="{% static "browser/css/base.css" %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script src="{% static "browser/js/d3.min.js" %}"></script>
        <style>
            /* MBL seal background image */
            body {
                background-image: url("{% static "browser/img/seal.png" %}");
                background-repeat: no-repeat;
                background-size: 534px 529px;
                background-position: center top;
            }
        </style>
        {% block extrahead %}

        {% endblock %}
    </head>

    <body>
        <div class="container">
            {% include "browser/navbar.html" %}
            {% block main %}
            <div class="jumbotron">
                <h1>The Marine Biological Laboratory</h1>
                <h2>A Data-Driven History</h2>
                <p>Bacon ipsum dolor amet short ribs elit filet mignon pork bacon aliquip, pig ea tempor ground round. Corned beef mollit prosciutto t-bone porchetta, aliqua reprehenderit turducken shankle labore. Veniam fugiat pork frankfurter, esse ut pork loin pork chop jerky magna pastrami. Est corned beef spare ribs leberkas ut reprehenderit enim venison frankfurter sint salami t-bone deserunt beef aute. Quis kevin enim, est jowl pork chop aute tongue in qui spare ribs filet mignon sunt.</p>
                <p>
                    <a class="btn btn-lg btn-primary" href="{% url "coursegroup_list" %}" role="button">View courses »</a>
                </p>
            </div>
            {% endblock %}
            <div class="panel panel-mbl-footer">
                <div class="panel-body">
                        <a href="https://github.com/erickpeirson/mbl-browser"><i class="fa fa-github fa-2x"></i> Source on GitHub</a>
                    <p class="pull-right">Another Open-Source Project by <a href="http://aplacecalledup.com/">A Place Called Up Consulting, LLC</a></p>
                </div>
            </div>
            <p class="text text-muted">Software version <a class="link-muted" href="https://github.com/erickpeirson/mbl-browser/commit/{{ request.git_revision }}">{{ request.git_revision }}</a></p>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{% static "browser/js/bootstrap.min.js" %}"></script>

    </body>
</html>
