{% extends "browser/change_base.html" %}
{% load addcss %}

{% block title %}Editing: {{ person.name }} (Person){% endblock %}

{% block form_fields %}
<div class="row">
    <div class="col-xs-6">
        {% with form.first_name as field %}
        <div class="form-group">
            {% for error in field.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <label>{{ field.label }}</label>
            {{ field|addcss:"form-control input-sm" }}
            <p class="text-muted">{{ field.help_text }}</p>
        </div>
        {% endwith %}
    </div>
    <div class="col-xs-6">
        {% with form.last_name as field %}
        <div class="form-group">
            {% for error in field.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <label>{{ field.label }}</label>
            {{ field|addcss:"form-control input-sm" }}
            <p class="text-muted">{{ field.help_text }}</p>
        </div>
        {% endwith %}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {% with form.validated as field %}
        <div class="checkbox">
            {% for error in field.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <label>
                {{ field }} {{ field.label }}
            </label>
            <p class="text-muted">{{ field.help_text }}</p>
        </div>
        {% endwith %}
    </div>
</div>
{% endblock %}

{% block extra_form_fields %}
<div class="row">
    <div class="col-xs-6">
        {% with extra_form.conceptpower_uri as field %}
        <div class="form-group">
            {% for error in field.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <label>Conceptpower URI</label>
            <div class="input-group">
                <span class="input-group-btn">
                    <a class="btn glyphicon glyphicon-search"
                        href="https://chps.asu.edu/conceptpower/home/conceptsearch?word={{ person.name|plusencode }}&pos=noun"
                        target="_blank"
                        data-toggle="tooltip"
                        data-title="Search for this person in Conceptpower authority service">
                    </a>
                </span>
                {{ field|addcss:"form-control input-sm" }}
            </div>
            <p class="text-muted">{{ field.help_text }}</p>
        </div>
        {% endwith %}
    </div>
    <div class="col-xs-6">
        {% with extra_form.description as field %}
        <div class="form-group">
            {% for error in field.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <label>{{ field.label }}</label>
            {{ field|addcss:"form-control input-sm" }}
            <p class="text-muted">{{ field.help_text }}</p>
        </div>
        {% endwith %}
    </div>
</div>
{% endblock %}
