{% extends "browser/change_base.html" %}
{% load addcss %}

{% block form_fields %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-warning">{{ error }}</div>
    {% endfor %}

    {% with form.name as field %}
    <div class="form-group">
        {% for error in field.errors %}
        <div class="alert alert-warning">{{ error }}</div>
        {% endfor %}
        <label>{{ field.label }}</label>
        {{ field|addcss:"form-control input-sm" }}
        <p class="text-muted">{{ field.help_text }}</p>
    </div>
    {% endwith %}

    {% with form.validated as field %}
    <div class="checkbox">
        {% for error in field.errors %}
        <div class="alert alert-warning">{{ error }}</div>
        {% endfor %}
        <label>
            {{ field }} {{ field.label }}
        </label>
        <p class="text-muted">{{ field.help_text }}</p>
    </div>
    {% endwith %}

{% endblock %}
