{% extends "browser/base.html" %}
{% load app_filters %}
{% load addcss %}
{% load pagination_tags %}

{% block title %}Courses{% endblock %}

{% block main %}
{% autopaginate courses.qs 40 as filter_list %}
<div class="clearfix">
    <div>
        <div class="btn-group pull-right">
            <button data-toggle="collapse" class="btn btn-primary" data-target="#filters">Show/hide filters</button>
        </div>
    </div>
</div>

<div class="collapse" id="filters">
    <form class="form clearfix">
        {% for field in courses.form %}
        <div class="form-group">
            <label>{{ field.label }}</label>
            {{ field|addcss:"form-control input-sm" }}
        </div>
        {% endfor %}
        <div class="btn-group pull-right">
            <input class="btn btn-primary" type="submit" value="Apply Filters" />
        </div>
    </form>
</div>

<div class="text-center">
    {% paginate %}
</div>

<div class="panel panel-mbl">
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Year</td>
                <td>Attendees</td>
            </tr>
        </thead>
        <tbody>
        {% for course in filter_list %}
            <tr>
                <td><a href="{% url "course" course.id %}">{{ course.name }}</a></td>
                <td>{{ course.year }}</td>
                <td>{{ course|get_attendance|length }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="panel-footer">
        {{ paginate }}
    </div>
</div>
{% endblock %}
