{% extends "browser/base.html" %}
{% load app_filters %}
{% load addcss %}

{% block title %}Create a new course{% endblock %}

{% block main %}
<div class="alert alert-mbl">
    Course Group: <span class="text-warning">{{ coursegroup.name }}</span>
    <div>
        <span class="h1">Create a new course</span>
        <p class="text-info">
            A course record describes a specific event, such as the Embryology course held in 1974.
            Courses generally belong to a course group; for example, the 1974 Embryology course is part of
            a group (series) that began in the late 19th century. Use this form to create a single
            course record to which you can add attendees.
        </p>
    </div>
</div>

<div class="container">
<!-- Coursegroups -->
    <div class="panel panel-mbl">
        <form class="form" action="." method="POST">
            {% csrf_token %}

            <div class="row">
                <div class="col-xs-3">
                    {% with form.year as field %}
                    <div class="form-group">
                        {% for error in field.errors %}
                        <div class="alert alert-warning">{{ error }}</div>
                        {% endfor %}
                        <label>{{ field.label }}</label>
                        {{ field|addcss:"form-control input-sm" }}
                        <p class="text-muted">{{ field.help_text }}</p>
                    </div>
                    {% endwith %}
                </div>
                <div class="col-xs-9">

                    {% with form.name as field %}
                    <div class="form-group">
                        {% for error in field.errors %}
                        <div class="alert alert-warning">{{ error }}</div>
                        {% endfor %}
                        <label>{{ field.label }}</label>
                        {{ field|addcss:"form-control input-sm" }}
                        <p class="text-muted">{{ field.help_text }}</p>
                    </div>
                    {% endwith %}

                    {% with form.validated as field %}
                    <div class="form-group">
                        {% for error in field.errors %}
                        <div class="alert alert-warning">{{ error }}</div>
                        {% endfor %}
                        <label>{{ field.label }}</label>
                        {{ field|addcss:"form-control input-sm" }}
                        <p class="text-muted">{{ field.help_text }}</p>
                    </div>
                    {% endwith %}
                </div>
            </div>
            <div class="text-right">
                <input type="submit" name="Create" value="Create" class="btn btn-success">
            </div>
        </form>
    </div>
</div>

{% endblock %}
