{% extends "browser/base.html" %}
{% load app_filters %}
{% load addcss %}
{% load pagination_tags %}

{% block main %}
{% autopaginate coursegroups.qs 40 as filter_list %}


<div class="clearfix">
    <div class="btn-group pull-right">
        <button data-toggle="collapse" class="btn btn-primary" data-target="#filters">Show/hide filters</button>
    </div>
</div>

<div class="collapse" id="filters">
    <form class="form clearfix">
        {% for field in coursegroups.form %}
        <div class="form-group">
            <label>{{ field.label }}</label>
            {{ field|addcss:"form-control" }}
        </div>
        {% endfor %}
        <div class="btn-group pull-right">
            <input class="btn btn-primary" type="submit" value="Apply Filters" />
        </div>
    </form>
</div>

<div class="text-center">
    {% paginate %}
</div>

<div class="panel panel-mbl">
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Courses</td>
                <td>Years</td>
            </tr>
        </thead>
        <tbody>

        {% for coursegroup in filter_list %}
            <tr>
                <td><a href="{% url "coursegroup" coursegroup.id %}">{{ coursegroup.name }}</a></td>
                <td>{{ coursegroup|get_partof_set|length }}</td>
                <td>{{ coursegroup|get_years }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="panel-footer text-center">
    {% paginate %}
    </div>


</div>
{% endblock %}
