{% extends "browser/base.html" %}
{% load app_filters %}
{% load addcss %}
{% load pagination_tags %}

{% block title %}Course Groups{% endblock %}

{% block main %}
{% autopaginate coursegroups.qs 40 as filter_list %}


<div class="clearfix">
    <div class="btn-group pull-right">
        <button data-toggle="collapse" class="btn btn-primary" data-target="#filters">Show/hide filters</button>
    </div>
</div>

<div class="collapse" id="filters">
    <form class="form clearfix">
        {% for field in coursegroups.form %}
        <div class="form-group">
            <label>{{ field.label }}</label>
            {{ field|addcss:"form-control input-sm" }}
        </div>
        {% endfor %}
        <div class="btn-group pull-right">
            <input class="btn btn-primary" type="submit" value="Apply Filters" />
        </div>
    </form>
</div>

<div class="text-center">
    {% paginate %}
</div>

<div class="panel panel-mbl">
    <table class="table">
        <thead>
            <tr>

                <th>Name</th>
                <th>Courses</th>
                <th>Years</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        {% for coursegroup in filter_list %}
            <tr>

                <td><a href="{% url "coursegroup" coursegroup.id %}">{{ coursegroup.name }}</a></td>
                <td>{{ coursegroup|get_partof_set|length }}</td>
                <td>{{ coursegroup|get_years }}</td>
                <td>
                    {% if coursegroup.validated %}
                    <i class="glyphicon glyphicon-ok-sign" aria-hidden="true"
                        style="color: green;"
                        data-toggle="tooltip"
                        data-title="This record was validated by {{ coursegroup.validated_by }} on {{ coursegroup.validated_on }}">
                    </i>
                    {% else %}
                    <i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"
                        data-toggle="tooltip"
                        data-title="This record has not yet been validated">
                    </i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="panel-footer text-center">
    {% paginate %}
    </div>


</div>

<script>
$('[data-toggle="tooltip"]').tooltip();
</script>
{% endblock %}
