{% extends "browser/base.html" %}
{% load app_filters %}

{% block title %}{{ course.name }} (Course){% endblock %}

{% block main %}
<div class="alert alert-mbl">
    Course
    <div>
        <span class="h1">{{ course.name }}</span>
        {% if user.is_staff %}
        <span class="pull-right btn-group btn-group-lg">
            <a class="btn btn-lg fa fa-history"
                aria-hidden="true"
                data-toggle="modal"
                data-target="#historyModal">
            </a>
            <a class="btn btn-lg fa fa-edit"
                aria-hidden="true"
                href="{% url "edit-course" course.id %}">
            </a>
            <a class="btn btn-lg fa fa-code-fork"
                aria-hidden="true"
                href="">
            </a>
        </span>
        {% endif %}
    </div>
    {% if course.validated %}
    <div>
        <span class="glyphicon glyphicon-ok" style="color:green;"></span>&nbsp;
        Validated by {{ course.validated_by }} on {{ course.validated_on }}.
    </div>
    {% endif %}
</div>

<!-- Coursegroups -->
<div class="panel panel-mbl">
    <div class="panel-heading">
        <h3>Part Of</h3>
        <p class="text text-muted">Click on a course group name to view the complete list of courses in that group.</p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <td>Year</td>
                <td>Course Group</td>
            </tr>
        </thead>
        <tbody>
            {% for partof in course.partof_set.all %}
            <tr>
                <td>{{ partof.year }}</td>
                <td><a href="{% url "coursegroup" partof.coursegroup.id %}">{{ partof.coursegroup.name }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Attendees -->
{% with course|get_attendance as attendances %}
<div class="panel panel-mbl">
    <div class="panel-heading">
        <h3>Attendees</h3>
    </div>

    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Role</td>
                <td>Affiliation</td>
                <td>URI</td>
            </tr>
        </thead>
        <tbody>
            {% for attendance in attendances %}
            <tr>
                <td><a href="{% url "person" attendance.person.id %}">{{ attendance.person.name }}</a></td>
                <td>{{ attendance.role }}</td>
                <td>
                    <ul class="nobullet">
                    {% for affiliation in attendance.person|get_affiliation:attendance.year %}
                        <li>{{affiliation.institution.name|title}}</li>
                    {% endfor %}
                    </ul>
                </td>
                <td>
                    {{ attendance.person.authority.conceptpower_uri|urlize }}
                </td>
                <!-- {{ attendance.person|get_affiliation:attendance.year }}</td> -->
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">{{ attendances|length }} total attendees representing {{ course|get_affiliation_count }} institutions.</td>
            </tr>
        </tfoot>
    </table>

</div>
{% endwith %}
{% endblock %}
