{% extends "browser/base.html" %}
{% load staticfiles %}
{% load app_filters %}

{% block title %}{{ coursegroup.name }} (Course Group){% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "browser/css/bar.css" %}" />
{% endblock %}

{% block main %}
<div class="alert alert-mbl">
    Course Group
    <div>
        <span class="h1">{{ coursegroup.name }}</span>
        {% if user.is_staff %}
        <span class="pull-right btn-group btn-group-lg">
            <a class="btn btn-lg fa fa-history"
                aria-hidden="true"
                data-toggle="modal"
                data-target="#historyModal">
            </a>
            <a class="btn btn-lg fa fa-edit"
                aria-hidden="true"
                href="{% url "edit-coursegroup" coursegroup.id %}">
            </a>
            <a class="btn btn-lg fa fa-code-fork"
                aria-hidden="true"
                href="">
            </a>
        </span>
        {% endif %}
    </div>
    {% if coursegroup.validated %}
    <div>
        <span class="glyphicon glyphicon-ok" style="color:green;"></span>&nbsp;
        Validated by {{ coursegroup.validated_by }} on {{ coursegroup.validated_on }}.
    </div>
    {% endif %}
</div>

<div class="panel panel-mbl" id="attendanceChart">
    <div class="panel-heading" id="attendanceChartHeading">
        <h3>Attendance</h3>
        <p class="text text-muted">Click on a year to view details for that course.</p>
        <svg width="100%" height="150">
            <g class="chart-wrapper" transform="translate(20,20)">
                <g class="bars"></g>
                <g class="x axis"></g>
                <g class="y axis"></g>

            </g>
        </svg>
    </div>
</div>

<!-- coursegroupgroups -->
<div class="panel panel-mbl">
    <div class="panel-heading clearfix">
        <div class="h3">Courses</div>
        {% if user.is_staff %}
        <span class="pull-right">
            <a class="btn btn-xs btn-success" href="{% url "create-course" coursegroup.id %}">
                <span class="glyphicon glyphicon-plus"></span> New course
            </a>
        </span>
        {% endif %}
        <p class="text text-muted">Click on a course name to view a complete list of participants.</p>
    </div>
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <td>Year</td>
                <td>Name</td>
                <td>Attendees</td>
                <td>Institutions</td>
            </tr>
        </thead>
        <tbody>
            {% for partof in coursegroup|get_partof_set %}
            <tr>
                <td>{{ partof.year }}</td>
                <td><a href="{% url "course" partof.course.id %}">{{ partof.course.name }}</a></td>
                <td>{{ partof.course|get_attendance|length }}</td>
                <td>{{ partof.course|get_affiliation_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    {{coursegroup|get_coursegroup_attendance_count}} unique attendees in
                    {{ coursegroup.courses.all|length }} courses during the period {{ coursegroup|get_years }}.
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<style>
text {
  font-family: sans-serif;
  font-size: 10px;
}
rect {
  fill: #337ab7;
  cursor: pointer;
}
rect:hover {
  fill: orange;
}
path {
  fill: none;
  stroke: #ccc;
}
line {
  stroke: #ccc;
}

</style>

<script>

var maxWidth = 1200, rightPadding = 70;
var xScale, yScale, xAxisComponent, yAxisComponent;
var numBars, yMax, xMax, xMin;
var data = [];

var container = d3.select('svg g.chart-wrapper'),
  barGroup = container.select('.bars')
  xAxis = container.select('.x.axis')
  yAxis = container.select('.y.axis');


function intToChar(i) {
  return String.fromCharCode(i + 65);
}

function update() {
  updateScales();
  updateAxes();
  updateBars();
}

W.addListener(update);

function updateScales() {
  var width = $('#attendanceChart').width() - rightPadding; //d3.min([W.getViewportWidth(), maxWidth])
  xScale.range([0, width]);
}

function updateAxes() {
  d3.select('.x.axis').call(xAxisComponent);
}

function updateBars() {
    var width = $('#attendanceChart').width() - rightPadding;
  // Perform the data join
  var u = barGroup
  .selectAll('rect')
  .data(data.attendance);

  // Add bars
  u.enter()
    .append('rect');

  // Remove bars
  u.exit()
    .remove();

  u.on('click', function(d) {
      // Split the url to preserve the part before coursegroup and added the clicked course from the graph to url
      window.location.href = window.location.href.split('/coursegroup')[0] + '/course/' + d.id + '/';
  });

  // Update bar position, width & height
  u.attr('x', function(d, i) {return xScale(d.year);})
    .attr('width', 0.8*width/(xMax - xMin))
    .attr('y', function(d) {
        return yScale(d.attendees);
    })
    .attr('height', function(d) {return yScale(0) - yScale(d.attendees);});
}

function initChart(data) {
  var width = 400, height = 100;
  numBars = data.length;

  // Initialise scales
  xScale = d3.scale.linear()
    .domain([xMin, xMax])
    .range([0, width]);

  yScale = d3.scale.linear()
    .domain([0, yMax])
    .range([height, 0]);

  // Build the x-axis
  xAxisComponent = d3.svg.axis()
    .scale(xScale)
    .orient('bottom')
    .tickFormat(d3.format("d"));

  xAxis.attr('transform', 'translate(0,'+height+')');

  // Build the y-axis
  yAxisComponent = d3.svg.axis()
    .scale(yScale)
    .orient('left');

  yAxis.call(yAxisComponent);


}

function initEvents() {
  // Set up event handler for resizes
  W.addListener(update);

  // Update data button
  d3.select('#update').on('click', function() {
    // data = randomData(data);
    update();
  });
}

d3.json("{% url "coursegroup_data" coursegroup.id %}", function(error, response_data) {
    data = response_data;

    xMax = Math.max.apply(Math, data.attendance.map(function(d) {return d.year; })) + 1;
    xMin = Math.min.apply(Math, data.attendance.map(function(d) {return d.year; }));
    yMax = Math.max.apply(Math, data.attendance.map(function(d) { return d.attendees; }));
    initChart(data.attendance);
    update();

    initEvents();
});


</script>

{% with coursegroup as instance %}
{% include "browser/history_modal.html" %}
{% endwith %}
{% endblock %}
