{% extends "browser/base.html" %}
{% load app_filters %}
{% load addcss %}

{% block title %}Course Groups{% endblock %}

{% block main %}



<form class="form ">
    <div class="row">
        <div class="col-sm-10">
            {% with persons.form.name as field %}
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" name="name" id="id_name" autofocus placeholder="Search by name"{% if coursegroups.form.name.value %} value="{{ coursegroups.form.name.value }}{% endif %}">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span>&nbsp;</button>
                    </span>
                </div>
            </div>
            {% endwith %}
        </div>
        <div class="col-sm-2">
            <div class="clearfix">
                <div class="btn-group pull-right">
                    <a data-toggle="collapse" class="btn btn-primary btn-sm" data-target="#filters"><span class="glyphicon glyphicon-filter"></span> Advanced</a>
                </div>
            </div>
        </div>
    </div>
    {% if course_groups_filter %}
    <div class="collapse" id="filters">
        <div class="row">
            <div class="col-sm-4">
                {% with course_groups_filter.form.occurred_from as field %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field|addcss:"form-control input-sm" }}
                </div>
                {% endwith %}
            </div>
            <div class="col-sm-4">
                {% with course_groups_filter.form.occurred_through as field %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field|addcss:"form-control input-sm" }}
                </div>
                {% endwith %}
            </div>
            <div class="col-sm-4">
                {% with course_groups_filter.form.o as field %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field|addcss:"form-control input-sm" }}
                </div>
                {% endwith %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-sm-5">
            <h4>No Data</h4>
        </div>
    </div>
    {% endif %}
</form>
<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <span class="step-links">
            <ul class="pager">
                {% if course_groups_paginated.has_previous %}
                    <li><a href="?page=1"><span aria-hidden="true">&larr;</span>  first</a></li>
                    <li><a href="?page={{ course_groups_paginated.previous_page_number }}">previous</a></li>
                {% endif %}
                <span style="margin-left: 1%; margin-right: 1%;" class="current">
                    Page {{ course_groups_paginated.number }} of {{ course_groups_paginated.paginator.num_pages }}
                </span>
                {% if course_groups_paginated.has_next %}
                    <li><a href="?page={{ course_groups_paginated.next_page_number }}">next</a></li>
                    <li><a href="?page={{ course_groups_paginated.paginator.num_pages }}">last<span aria-hidden="true">&rarr;</span></a></li>
                {% endif %}
            </ul>
        </span>
    </div>
</div>

<div class="panel panel-mbl">
    <table class="table">
        <thead>
            <tr>

                <th>Name</th>
                <th>Courses</th>
                <th>Years</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        {% for coursegroup in course_groups_paginated %}
            <tr>

                <td><a href="{% url "coursegroup" coursegroup.id %}">{{ coursegroup.name }}</a></td>
                <td>{{ coursegroup|get_partof_set|length }}</td>
                <td>{{ coursegroup|get_years }}</td>
                <td>
                    {% if coursegroup.validated %}
                    <i class="glyphicon glyphicon-ok-sign" aria-hidden="true"
                        style="color: green;"
                        data-toggle="tooltip"
                        data-title="This record was validated by {{ coursegroup.validated_by }} on {{ coursegroup.validated_on }}">
                    </i>
                    {% else %}
                    <i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"
                        data-toggle="tooltip"
                        data-title="This record has not yet been validated">
                    </i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <span class="step-links">
                <ul class="pager">
                    {% if course_groups_paginated.has_previous %}
                        <li><a href="?page=1"><span aria-hidden="true">&larr;</span>  first</a></li>
                        <li><a href="?page={{ course_groups_paginated.previous_page_number }}">previous</a></li>
                    {% endif %}
                    <span style="margin-left: 1%; margin-right: 1%;" class="current">
                        Page {{ course_groups_paginated.number }} of {{ course_groups_paginated.paginator.num_pages }}
                    </span>
                    {% if course_groups_paginated.has_next %}
                        <li><a href="?page={{ course_groups_paginated.next_page_number }}">next</a></li>
                        <li><a href="?page={{ course_groups_paginated.paginator.num_pages }}">last<span aria-hidden="true">&rarr;</span></a></li>
                    {% endif %}
                </ul>
            </span>
        </div>
    </div>
</div>

<script>
$('[data-toggle="tooltip"]').tooltip();
</script>
{% endblock %}
