<div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="historyLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="historyLabel">Curation History</h4>
      </div>
      <div class="modal-body">
        {% for version in instance.history.all %}
        <li class="list-group-item">Updated by <span class="text-warning">{{ version.changed_by }}</span> on {{ version.history_date }}</li>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
