{% extends "browser/base.html" %}
{% load app_filters %}
{% load addcss %}

{% block title %}Institutions{% endblock %}

{% block main %}

<form class="form">
    <div class="row">
        <div class="col-sm-12">
            {% with persons.form.name as field %}
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" name="name" id="id_name" autofocus placeholder="Search by name"{% if institutions_filter.form.name.value %} value="{{ institutions_filter.form.name.value }}"{% endif %}>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span>&nbsp;</button>
                    </span>
                </div>
            </div>
            {% endwith %}
        </div>
        {% comment %}
        <div class="col-sm-2">
            <div class="clearfix">
                <div class="btn-group pull-right">
                    <a data-toggle="collapse" class="btn btn-primary btn-sm" data-target="#filters"><span class="glyphicon glyphicon-filter"></span> Advanced</a>
                </div>
            </div>
        </div>
        {% endcomment %}
    </div>

    {% comment %}
    <div class="collapse" id="filters">

        {% for field in institutions.form %}
        {% if field.label != 'Name' %}
        <div class="form-group">
            <label>{{ field.label }}</label>
            {{ field|addcss:"form-control input-sm" }}
        </div>
        {% endif %}
        {% endfor %}
        <div class="btn-group pull-right">
            <input class="btn btn-primary btn-sm" type="submit" value="Apply" />
        </div>

    </div>
    {% endcomment %}
</form>

<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <span class="step-links">
            <ul class="pager">
                {% if institutions_paginated.has_previous %}
                    <li><a href="?page=1"><span aria-hidden="true">&larr;</span>  first</a></li>
                    <li><a href="?page={{ institutions_paginated.previous_page_number }}">previous</a></li>
                {% endif %}
                <span style="margin-left: 1%; margin-right: 1%;" class="current">
                    Page {{ institutions_paginated.number }} of {{ institutions_paginated.paginator.num_pages }}
                </span>
                {% if institutions_paginated.has_next %}
                    <li><a href="?page={{ institutions_paginated.next_page_number }}">next</a></li>
                    <li><a href="?page={{ institutions_paginated.paginator.num_pages }}">last<span aria-hidden="true">&rarr;</span></a></li>
                {% endif %}
            </ul>
        </span>
    </div>
</div>


<div class="panel panel-mbl">
    <ul class="list-group">
        {% for institution in institutions_paginated %}
        {% if institution.name|length > 0 %}
        <li class="list-group-item">
            <a href="{% url "institution" institution.id %}">{{ institution.name }}</a>
            <span class="pull-right">
                <span class="text-success"
                    data-toggle="tooltip"
                    data-placement="left"
                    data-container='body'
                    title="Number of affiliates">
                    {{ institution.number_of_affiliates }} affiliate{% if institution.number_of_affiliates != 1 %}s{% endif %}
                </span>
            </span>
        </li>
        {% endif %}

        {% endfor %}
    </ul>
</div>
<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <span class="step-links">
            <ul class="pager">
                {% if institutions_paginated.has_previous %}
                    <li><a href="?page=1"><span aria-hidden="true">&larr;</span>  first</a></li>
                    <li><a href="?page={{ institutions_paginated.previous_page_number }}">previous</a></li>
                {% endif %}
                <span style="margin-left: 1%; margin-right: 1%;" class="current">
                    Page {{ institutions_paginated.number }} of {{ institutions_paginated.paginator.num_pages }}
                </span>
                {% if institutions_paginated.has_next %}
                    <li><a href="?page={{ institutions_paginated.next_page_number }}">next</a></li>
                    <li><a href="?page={{ institutions_paginated.paginator.num_pages }}">last<span aria-hidden="true">&rarr;</span></a></li>
                {% endif %}
            </ul>
        </span>
    </div>
</div>
{% endblock %}
