{% extends "browser/base.html" %}
{% load app_filters %}

{% block main %}
<div class="alert alert-mbl">
    Institution
    <div>
        <span class="h1">{{ institution.name }}</span>
        {% if user.is_staff %}
        <span class="pull-right btn-group btn-group-lg">
            <a class="btn btn-lg fa fa-history"
                aria-hidden="true"
                data-toggle="modal"
                data-target="#historyModal">
            </a>
            <a class="btn btn-lg fa fa-edit"
                aria-hidden="true"
                href="{% url "edit-institution" institution.id %}">
            </a>
            <a class="btn btn-lg fa fa-code-fork"
                aria-hidden="true"
                href="">
            </a>
        </span>
        {% endif %}
    </div>
    {% if institution.validated %}
    <div>
        <span class="glyphicon glyphicon-ok" style="color:green;"></span>&nbsp;
        Validated by {{ institution.validated_by }} on {{ institution.validated_on }}.
    </div>
    {% endif %}
</div>

<!-- Attendees -->
<!-- {% with course|get_attendance as attendances %} -->
<div class="panel panel-mbl">
    <div class="panel-heading">
        <h3>Affiliates</h3>
    </div>

    <ul class="list-group">

        {% for affiliate in institution|get_affiliates %}
        <li class="list-group-item" >
            <a href="{% url "person" affiliate.pk %}" class="text-warning">{{ affiliate.first_name }} {{ affiliate.last_name }}</a>
            {% with person.history.last as history %}
            {% if history %}
            <div class="text-warning">
                Updated by <strong>{{ history.changed_by }}</strong> on {{ history.history_date }}
            </div>
            {% endif %}
            {% endwith %}
            <dl class="dl-horizontal">
                {% for position in affiliate.positions %}
                <dt>{{position.year}}</dt>
                <dd>{{position.position}}</dd>
                {% endfor %}
            </dl>
        </li>
        {% endfor %}

</div>
{% endwith %}

{% with institution as instance %}
{% include "browser/history_modal.html" %}
{% endwith %}

{% endblock %}
