<div class="modal fade" id="InvestigatorDeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteModalLabel">Delete Investigation record</h4>
      </div>

      <form action="." method="post">
        {% csrf_token %}
      <div class="modal-body">
        <h5>
          Are you sure you want to delete following data for <strong>{{person.name}}</strong>: <br><br>
          <strong>Year:</strong> <label style="font-weight:normal" id="investigator_delete_modal_year"></label> <br>
          <strong>Subject:</strong> <label style="font-weight:normal" id="investigator_delete_modal_subject"></label> <br>
          <strong>Role:</strong> <label style="font-weight:normal" name="investigator_delete_modal_role" id="investigator_delete_modal_role"></label><br>
          <input type="text" id="investigator_delete_modal_id" name="investigator_delete_modal_id">
        </h5>
      </div>

      <div class="modal-footer">
        <input class="btn btn-danger" type="submit" name="DeleteInvestigatorButton" id="DeleteInvestigatorButton" value="Delete">
        <button type="button" class="btn btn-default" id="investigator_delete_modal_closeButton" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
  </div>
</div>
