{% extends "browser/change_base.html" %}
{% load addcss %}

{% block title %}Add Investigator: {{ person.name }} (Person){% endblock %}
{% block main %}

<div class="alert alert-mbl">
    Person
    <div>
        <span class="h1">{{ person.name }}</span>

    </div>
    {% if person.authority %}
    <div class="text-warning">
        <span class="glyphicon glyphicon-barcode"></span>
        {{ person.authority.conceptpower_uri|urlize }}
    </div>
    {% endif %}
    {% if person.validated %}
    <div>
        <span class="glyphicon glyphicon-ok" style="color:green;"></span>&nbsp;
        Validated by {{ person.validated_by }} on {{ person.validated_on }}.
    </div>
    {% endif %}
</div>

<div class="container">
    <p class="text-info">
        {% if type == 'edit_investigator' %}
        The below form will edit this <strong>Investigator</strong> record for <strong>{{ person.name }}</strong>.
        {% else %}
        This form will create a new <strong>Investigator</strong> record with the information provided below. The
        information will be added to <strong>{{ person.name }}</strong>'s record.
        {% endif %}
    </p>

    <form action="." method="post" id="InvestigatorForm">
    {% csrf_token %}
    {% block form_fields %}
    {% with form.subject as field %}
    <div class="row">
        <div class="col-xs-12">
        <div class="form-group">
            {% for error in field.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <label>{{ field.label }}</label>
            {{ field|addcss:"form-control input-sm" }}
            <p class="text-muted">{{ field.help_text }}</p>
        </div>
        </div>
    </div>
    {% endwith %}

    {% with form.role as field %}
    <div class="row">
        <div class="col-xs-8">
        <div class="form-group">
            {% for error in field.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <label>{{ field.label }}</label>
            {{ field|addcss:"form-control input-sm" }}
            <p class="text-muted">{{ field.help_text }}</p>
        </div>
        </div>
    {% endwith %}

    {% with form.year as field %}
        <div class="col-xs-4">
        <div class="form-group">
            {% for error in field.errors %}
            <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            <label>{{ field.label }}</label>
            {{ field|addcss:"form-control input-sm" }}
            <p class="text-muted">{{ field.help_text }}</p>
        </div>
        </div>
    </div>
    {% endwith %}

    {% with form.institution as field %}
    <div class="row">
        <div class="col-xs-8">
        {% with form.institution as field %}
                    <div class="form-group">
                        {% for error in field.errors %}
                        <div class="alert alert-warning">{{ error }}</div>
                        {% endfor %}
                        <label>{{ field.label }}</label>
                        {{ form.institution_search|addcss:"form-control input-sm" }}
                        <div class="list-group" id="institution-results-container"></div>
                        {{ field|addcss:"form-control input-sm" }}
                        <p class="text-muted">{{ field.help_text }}</p>
                        <label class="control-label">{{ form.create_institution.label }} {{ form.create_institution }}</label>
                        <span class="text-muted">{{ form.create_institution.help_text }}</span>
                    </div>
                    {% endwith %}
        </div>
    </div>
    {% endwith %}

    {% endblock %}

    <div class="row">
    <div class="text-center">
        {% if type == 'edit_investigator' %}
        <input class="btn btn-success" type="submit" form="InvestigatorForm" name="UpdateButton" id="ValueButton" value="Update">
        {% else %}
        <input class="btn btn-success" name="SaveButton" form="InvestigatorForm" type="submit" value="Save">
        {% endif %}
        <a class="btn btn-danger" href="{% url "person" person.id %}">Cancel</a>
    </div>
    </div>

    </form>

<script>

var toggleCreateFields = function() {
    if ($('#id_create_person:checked').val()) {
        $('.create-row').css('display', 'block');
    } else {
        $('.create-row').css('display', 'none');
    }
}

$('#id_create_person').change(toggleCreateFields);
$('body').ready(toggleCreateFields);

var container = $('#person-results-container');
var search = $('#id_person_search');
var input = $('#id_person');

var institution_search = $('#id_institution_search');
var institution_container = $('#institution-results-container');
var institution_input = $('#id_institution');

var selectResult = function(id, name) {
    container.empty();
    search.val(name);
    input.val(id);
}

var selectInstitutionResult = function(id, name) {
    institution_container.empty();
    institution_search.val(name);
    institution_input.val(id);
}

var getName = function(result) {
    return result.first_name + ' ' + result.last_name;
}

$(document).ready(function() {
    $(".dropdown-toggle").dropdown();
    $('[data-toggle="tooltip"]').tooltip();
});

var searchPromise = null;

var toggleIndicator = function() {
    var val = input.val();
    if (val != '' && val != null) {
        indicator.removeClass('glyphicon-search');
        indicator.addClass('glyphicon-ok');
    } else {
        indicator.addClass('glyphicon-search');
        indicator.removeClass('glyphicon-ok');
    }
}

search.on('keyup', function(e) {
    var query = $(this).val();
    input.val(null);

    if (query.length == 0){
        container.empty();
    } else {
        if (searchPromise) {
            clearTimeout(searchPromise);
        }
        searchPromise = setTimeout(function() {
            $.ajax("{% url "person-list" %}?name=" + query, {
                success: function(result) {
                    container.empty();
                    result.results.forEach(function(r) {
                        container.append('<a class="list-group-item search-result" id="' + r.id + '" onclick="selectResult(' + r.id + ', \''+ getName(r) +'\')">' + getName(r) + '</a>');
                    });
                }
            });
        }, 500);
    }
});

institution_search.on('keyup', function(e) {
    var query = $(this).val();
    institution_input.val(null);

    if (query.length == 0){
        institution_container.empty();
    } else {
        if (searchPromise) {
            clearTimeout(searchPromise);
        }
        searchPromise = setTimeout(function() {
            $.ajax("{% url "institution-list" %}?name=" + query, {
                success: function(result) {
                    institution_container.empty();
                    result.results.forEach(function(r) {
                        institution_container.append('<a class="list-group-item search-result" id="' + r.id + '" onclick="selectInstitutionResult(' + r.id + ', \''+ r.name +'\')">' + r.name + '</a>');
                    });
                }
            });
        }, 500);
    }
});

</script>

{% endblock %}

</div>