{% extends "browser/base.html" %}
{% load app_filters %}
{% load addcss %}
{% load pagination_tags %}

{% block title %}Locations{% endblock %}

{% block main %}
{% autopaginate locations.qs 40 as filter_list %}


<form class="form ">
    <div class="row">
        <div class="col-sm-10">
            {% with persons.form.name as field %}
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" name="name" id="id_name" autofocus placeholder="Search by name"{% if locations.form.name.value %} value="{{ locations.form.name.value }}{% endif %}">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span>&nbsp;</button>
                    </span>
                </div>
            </div>
            {% endwith %}
        </div>
        <div class="col-sm-2">
            <div class="clearfix">
                <div class="btn-group pull-right">
                    <a data-toggle="collapse" class="btn btn-primary btn-sm" data-target="#filters"><span class="glyphicon glyphicon-filter"></span> Advanced</a>
                </div>
            </div>
        </div>
    </div>

    <div class="collapse" id="filters">
        <div class="row">
            <div class="col-sm-6">
                {% with locations.form.validated as field %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field|addcss:"form-control input-sm" }}
                </div>
                {% endwith %}
            </div>
            <div class="col-sm-6">
                {% with locations.form.o as field %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field|addcss:"form-control input-sm" }}
                </div>
                {% endwith %}
            </div>
        </div>
    </div>

</form>

<div class="text-center">
    {% paginate %}
</div>

<div class="panel panel-mbl">
    {% if user.is_staff %}
    <form class="form" id="action_form" method="POST" action="{% url "bulk-action" "location" %}">
        {% csrf_token %}
        <input type="hidden" name="action" value="" id="action-input"></input>
        <input type="hidden" name="model" value="location" id="action-model"></input>
    {% endif %}
        {% if user.is_staff %}
        <div class="btn-group">
            <a class="btn"
                aria-hidden="true"
                id="merge_button"
                style="visibility: hidden;">
                <span class="fa fa-link"></span>&nbsp;
                Merge records
            </a>
        </div>
        <script>
        $('body').ready(function() {
            $('.action_select').change(function() {
                if ($('.action_select:checked').length > 1) {
                    $('#merge_button').css('visibility', 'visible');
                } else {
                    $('#merge_button').css('visibility', 'hidden');
                }
            });
        });
        </script>
        {% endif %}
        <ul class="list-group">
            {% for location in filter_list %}
            {% if location.name|length > 0 %}
            <li class="list-group-item">
                <span class="pull-right">
                    <span class="text-success"
                        data-toggle="tooltip"
                        data-placement="left"
                        data-container='body'
                        title="Number of denizens">
                        {{ location.number_of_denizens }} denizen{% if location.number_of_denizens != 1 %}s{% endif %}
                    </span>
                </span>
                {% if user.is_staff %}
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" name="action_select" value="{{ location.id }}" class="action_select">
                        <a href="{% url "location" location.id %}">{{ location.name }}</a>
                    </label>
                </div>
                {% else %}
                    <a href="{% url "location" location.id %}">{{ location.name }}</a>
                {% endif %}

                {% if location.authority %}
                <div class="text-warning">
                    <span class="glyphicon glyphicon-barcode"></span>
                    {{ location.authority.external_uri|urlize }}
                </div>
                <div class="text-warning">
                    <span class="glyphicon glyphicon-globe"></span>
                    {{ location.authority.geo_uri }}
                </div>
                {% endif %}

                {% with location.history.last as history %}
                {% if history %}
                <div class="text-warning">
                    Updated by <strong>{{ history.changed_by }}</strong> on {{ history.history_date }}
                </div>
                {% endif %}
                {% endwith %}


            </li>
            {% endif %}

            {% endfor %}
        </ul>
    {% if user.is_staff %}</form>{% endif %}

        <div class="panel-footer text-center">
        {% paginate %}
        </div>

</div>
{% if user.is_staff %}
<script>
$('body').ready(function() {
    $('#merge_button').click(function() {
        $('#action-input').val('merge');
        $('#action_form').trigger('submit');
    });
});
</script>
{% endif %}
{% endblock %}
