{% extends "browser/base.html" %}
{% load app_filters %}
{% load addcss %}
{% load pagination_tags %}

{% block main %}
{% autopaginate locations.qs 40 as filter_list %}


<div class="clearfix">
    <div class="btn-group pull-right">
        <button data-toggle="collapse" class="btn btn-primary" data-target="#filters">Show/hide filters</button>
    </div>
</div>

<div class="collapse" id="filters">
    <form class="form clearfix">
        {% for field in locations.form %}
        <div class="form-group">
            <label>{{ field.label }}</label>
            {{ field|addcss:"form-control" }}
        </div>
        {% endfor %}
        <div class="btn-group pull-right">
            <input class="btn btn-primary" type="submit" value="Apply Filters" />
        </div>
    </form>
</div>

<div class="text-center">
    {% paginate %}
</div>

<div class="panel panel-mbl">
    {% if user.is_staff %}
    <form class="form" id="action_form" method="POST" action="{% url "bulk-action" "location" %}">
        {% csrf_token %}
        <input type="hidden" name="action" value="" id="action-input"></input>
        <input type="hidden" name="model" value="location" id="action-model"></input>
    {% endif %}
        {% if user.is_staff %}
        <div class="btn-group">
            <a class="btn"
                aria-hidden="true"
                id="merge_button"
                style="visibility: hidden;">
                <span class="fa fa-link"></span>&nbsp;
                Merge records
            </a>
        </div>
        <script>
        $('body').ready(function() {
            $('.action_select').change(function() {
                if ($('.action_select:checked').length > 1) {
                    $('#merge_button').css('visibility', 'visible');
                } else {
                    $('#merge_button').css('visibility', 'hidden');
                }
            });
        });
        </script>
        {% endif %}
        <ul class="list-group">
            {% for location in filter_list %}
            {% if location.name|length > 0 %}
            <a class="list-group-item" href="{% url "location" location.id %}">
                {% if user.is_staff %}
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" name="action_select" value="{{ location.id }}" class="action_select">
                        {{ location.name }}
                    </label>
                </div>
                {% else %}
                    {{ location.name }}
                {% endif %}
                <span class="pull-right">
                    <span class="text-success"
                        data-toggle="tooltip"
                        data-placement="left"
                        data-container='body'
                        title="Number of affiliates">
                        {{ location.number_of_denizens }} denizen{% if location.number_of_denizens != 1 %}s{% endif %}
                    </span>
                </span>
            </a>
            {% endif %}

            {% endfor %}
        </ul>
    {% if user.is_staff %}</form>{% endif %}

        <div class="panel-footer text-center">
        {% paginate %}
        </div>

</div>
{% if user.is_staff %}
<script>
$('body').ready(function() {
    $('#merge_button').click(function() {
        $('#action-input').val('merge');
        $('#action_form').trigger('submit');
    });
});
</script>
{% endif %}
{% endblock %}
