{% load staticfiles %}
{% load i18n %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "home" %}">MBL Data</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url "home" %}">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                        data-toggle="dropdown"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false">
                        Courses
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "coursegroup_list" %}?page=1">Course Groups</a></li>
                        <li><a href="{% url "courses" %}?page=1">Individual Courses</a></li>
                    </ul>
                </li>
                <li><a href="{% url "person_list" %}?page=1">People</a></li>
                <li><a href="{% url "institution_list" %}">Institutions</a></li>
                <li><a href="{% url "location_list" %}">Locations</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url "about" %}">About</a></li>

                {% if user.is_active %}
                <li>
                    <a href="">Dashboard</a>
                </li>
                <li>
                    <a class="btn btn-sm" href="{% url 'logout' %}?next={{ request.path }}"><i class="fa fa-sign-out" aria-hidden="true"></i> <strong>{% firstof user.get_short_name user.get_username %}</strong>: {% trans 'Log out' %}</a>
                </li>
                {% else %}
                <li>
                    <a class="btn btn-sm" href="{% url 'social:begin' 'github' %}"><i class="fa fa-github" aria-hidden="true"></i> {% trans 'Log in' %}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
