{% extends "browser/base.html" %}
{% load app_filters %}
{% load addcss %}
{% load pagination_tags %}

{% block title %}People{% endblock %}

{% block main %}
{% autopaginate persons.qs 40 as filter_list %}

<form class="form ">
    <div class="row">
        <div class="col-sm-8">
            {% with persons.form.name as field %}
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" name="name" id="id_name" autofocus placeholder="Search by name"{% if persons.form.name.value %} value="{{ persons.form.name.value }}"{% endif %}>
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span>&nbsp;</input>
                    </span>
                </div>
            </div>
            {% endwith %}
        </div>
        <div class="col-sm-2">
            <div class="clearfix">
                <div class="btn-group pull-right">
                    <a data-toggle="collapse" class="btn btn-primary btn-sm" data-target="#filters"><span class="glyphicon glyphicon-filter"></span> Advanced</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <a href="{% url "add-person" %}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span>Add Person</a>
        </div>
    </div>
</form>
<form>
    <div class="collapse" id="filters">
        <div class="clearfix">
            {% for field in persons.form %}
            {% if field.label != 'Name' %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field|addcss:"form-control input-sm" }}
            </div>
            {% endif %}
            {% endfor %}
            <div class="btn-group pull-right">
                <input class="btn btn-primary" type="submit" value="Apply Filters" />
            </div>
        </div>
    </div>

</form>

<div class="text-center">
    {% paginate %}
</div>

<div class="panel panel-mbl">
    {% if user.is_staff %}
    <form class="form" id="action_form" method="POST" action="{% url "bulk-action" "person" %}">
        {% csrf_token %}
        <input type="hidden" name="action" value="" id="action-input"></input>
        <input type="hidden" name="model" value="person" id="action-model"></input>
    {% endif %}
        {% if user.is_staff %}
        <div class="btn-group">
            <a class="btn"
                aria-hidden="true"
                id="merge_button"
                style="visibility: hidden;">
                <span class="fa fa-link"></span>&nbsp;
                Merge records
            </a>
        </div>
        <script>
        $('body').ready(function() {
            $('.action_select').change(function() {
                if ($('.action_select:checked').length > 1) {
                    $('#merge_button').css('visibility', 'visible');
                } else {
                    $('#merge_button').css('visibility', 'hidden');
                }
            });
        });
        </script>
        {% endif %}
        <ul class="list-group">
            {% for person in filter_list %}
            <li class="list-group-item">
                {% if user.is_staff %}
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" name="action_select" value="{{ person.id }}" class="action_select">
                        <a href="{% url "person" person.id %}">{{ person.name }}</a>
                    </label>
                </div>
                {% else %}
                    <a href="{% url "person" person.id %}">{{ person.name }}</a>
                {% endif %}
                <span class="pull-right">
                    {% if person.is_investigator %}<span class="text-warning">Investigator</span>{% endif %}
                    <span class="text-success">
                        {{ person.number_of_courses }} course{% if person.number_of_courses != 1%}s{% endif %}
                    </span>
                    <span class="text-primary">
                        {{ person.number_of_affiliations }} affiliation{% if person.number_of_affiliations != 1%}s{% endif %}
                    </span>

                    {% if person.validated %}
                    <i class="glyphicon glyphicon-ok-sign" aria-hidden="true"
                        style="color: green;"
                        data-toggle="tooltip"
                        data-title="This record was validated by {{ person.validated_by }} on {{ person.validated_on }}">
                    </i>
                    {% else %}
                    <i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"
                        style="color: orange;"
                        data-toggle="tooltip"
                        data-title="This record has not yet been validated">
                    </i>
                    {% endif %}

                </span>
                {% if person.authority %}
                <div class="text-warning">
                    <span class="glyphicon glyphicon-barcode"></span>
                    {{ person.authority.conceptpower_uri|urlize }}
                </div>
                {% endif %}

                {% with person.history.last as history %}
                {% if history %}
                <div class="text-warning">
                    Updated by <strong>{{ history.changed_by }}</strong> on {{ history.history_date }}
                </div>
                {% endif %}
                {% endwith %}

            </li>
            {% endfor %}
        </ul>
    {% if user.is_staff %}</form>{% endif %}

    <div class="panel-footer text-center">
        {% paginate %}
    </div>
</div>

{% if user.is_staff %}
<script>
$('body').ready(function() {
    $('#merge_button').click(function() {
        $('#action-input').val('merge');
        $('#action_form').trigger('submit');
    });
});
</script>
{% endif %}
{% endblock %}
