{% extends "browser/base.html" %}
{% load app_filters %}
{% load addcss %}
{% load pagination_tags %}

{% block main %}
{% autopaginate persons.qs 40 as filter_list %}

<div class="clearfix">
    <div class="btn-group pull-right">
        <button data-toggle="collapse" class="btn btn-primary" data-target="#filters">Show/hide filters</button>
    </div>
</div>

<div class="collapse" id="filters">
    <form class="form clearfix">
        {% for field in persons.form %}
        <div class="form-group">
            <label>{{ field.label }}</label>
            {{ field|addcss:"form-control" }}
        </div>
        {% endfor %}
        <div class="btn-group pull-right">
            <input class="btn btn-primary" type="submit" value="Apply Filters" />
        </div>
    </form>
</div>

<div class="text-center">
    {% paginate %}
</div>

<div class="panel panel-mbl">

    <ul class="list-group">
        {% for person in filter_list %}
        <a class="list-group-item" href="{% url "person" person.id %}">
            <div>
                {{ person.name }}
                {% if person.is_investigator %}<span class="label label-primary">Investigator</span>{% endif %}
                <span class="btn-group pull-right">
                    <span class="btn btn-success btn-xs"
                        data-toggle="tooltip"
                        data-placement="left"
                        data-container='body'
                        title="Number of courses attended">
                        {{ person.number_of_courses }}
                    </span>
                    <span class="btn btn-info btn-xs"
                        data-toggle="tooltip"
                        data-placement="left"
                        data-container='body'
                        title="Number of institutional affiliations">
                        {{ person.number_of_affiliations }}
                    </span>
                </span>
            </div>

        </a>
        {% endfor %}
    </ul>

    <div class="panel-footer text-center">
        {% paginate %}
    </div>
</div>
{% endblock %}
