{% extends "browser/base.html" %}
{% load app_filters %}
{% block title %}{{ person.name }} (Person){% endblock %}


{% block main %}

<div class="alert alert-mbl">
    Person
    <div>
        <span class="h1">{{ person.name }}</span>

        {% if user.is_staff %}
        <span class="pull-right btn-group btn-group-lg">
            <a class="btn btn-lg fa fa-history"
                aria-hidden="true"
                data-curation-tooltip="tooltip"
                title="View curation history for {{person.name}}"
                data-toggle="modal"
                data-target="#historyModal">
            </a>
            <a class="btn btn-lg fa fa-edit"
                aria-hidden="true"
                data-toggle="tooltip"
                title="Edit record for {{person.name}}"
                href="{% url "edit-person" person.id %}">
            </a>
            <a class="btn btn-lg fa fa-code-fork"
                aria-hidden="true"
                data-toggle="tooltip"
                title="Fork record for {{person.name}}"
                href="{% url "split-person" person.id %}">
            </a>
            <a class="btn btn-lg fa fa-flask"
                aria-hidden="true"
                data-toggle="tooltip"
                title="Add an investigator record for {{person.name}}"
                href="{% url "add-investigator" person.id %}">
            </a>
        </span>
        {% endif %}
    </div>
    {% if person.authority %}
    <div class="text-warning">
        <span class="glyphicon glyphicon-barcode"></span>
        {{ person.authority.conceptpower_uri|urlize }}
    </div>
    {% endif %}
    {% if person.validated %}
    <div>
        <span class="glyphicon glyphicon-ok" style="color:green;"></span>&nbsp;
        Validated by {{ person.validated_by }} on {{ person.validated_on }}.
    </div>
    {% endif %}
</div>

<div class="container">
<!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        {% if person.number_of_affiliations > 0 %}<li role="presentation" class="active"><a href="#person-affiliations" aria-controls="affiliations" role="tab" data-toggle="tab">Affiliations</a></li>{% endif %}
        {% if person.number_of_courses > 0 %}<li role="presentation"{% if person.number_of_affiliations == 0 %} class="active"{% endif %}><a href="#person-courses" aria-controls="courses" role="tab" data-toggle="tab">Courses</a></li>{% endif %}
        {% if person.is_investigator %}<li role="presentation"{% if person.number_of_courses == 0 and person.number_of_affiliations == 0 %} class="active"{% endif %}><a href="#person-investigations" aria-controls="research" role="tab" data-toggle="tab">Research</a></li>{% endif %}
        {% if person.number_of_locations > 0 %}<li role="presentation">{% if person.number_of_courses == 0 and person.number_of_affiliations == 0 and not person.is_investigator %} class="active"{% endif %}<a href="#person-locations" aria-controls="locations" role="tab" data-toggle="tab">Locations</a></li>{% endif %}
    </ul>

    <div class="tab-content">
      {% with person|get_affiliations as affiliations %}
      {% if affiliations|length > 0 %}
      <div role="tabpanel" class="tab-pane active" id="person-affiliations">
        <!-- Affiliations -->

        <div class="panel panel-mbl">
            <div class="panel-heading">
                <h3>Affiliations</h3>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <td>Year</td>
                        <td>Position</td>
                        <td>Institution</td>
                    </tr>
                </thead>
                <tbody>
                    {% for affiliation in affiliations %}

                    <tr>
                        <td>{{ affiliation.year }}</td>
                        <td>{{ affiliation.position }}</td>
                        <td>
                            <a href="{% url "institution" affiliation.institution.id %}">{{ affiliation.institution.name }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    {% endwith %}

    <!-- Courses -->
    {% with person|get_attendance as attendances %}
    {% if attendances|length > 0 %}

    <div role="tabpanel" class="tab-pane {% if person.number_of_affiliations == 0 %}active{% endif %}" id="person-courses">
        <div class="panel panel-mbl">
            <div class="panel-heading">
                <h3>Courses</h3>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <td>Year</td>
                        <td>Role</td>
                        <td>Course</td>
                    </tr>
                </thead>
                <tbody>
                    {% for attendance in attendances %}
                    <tr>
                        <td>{{ attendance.year }}</td>
                        <td>{{ attendance.role }}</td>
                        <td><a href="{% url "course" attendance.course.id %}">{{ attendance.course.name }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    {% endif %}
    {% endwith %}

    <!-- Research -->
    {% with person|get_researches as researches %}
    {% if researches|length > 0 %}
    <div role="tabpanel" class="tab-pane {% if person.number_of_courses == 0 and person.number_of_affiliations == 0 %}active{% endif %}" id="person-investigations">
        <div class="panel panel-mbl">
            <div class="panel-heading">
                <h3>Research at the MBL</h3>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th class="col-xs-1"></th>
                        <th>Year</th>
                        <th>Subject</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    {% for research in researches %}
                    <tr>
                        <td>
                            <a class=" btn btn-xs fa fa-edit"
                               aria-hidden="true"
                               href="{% url "edit-investigator" person.id research.id %}">
                            </a>
                            <a class="open-InvestigatorDeleteModal btn btn-xs fa fa-trash"
                                aria-hidden="true"
                                data-toggle="modal"
                                data-id="{{research.id}}"
                                data-subject = "{{research.subject}}"
                                data-year = "{{research.year}}"
                                data-role = "{{research.role}}"
                                href="#InvestigatorDeleteModal" >
                            </a>
                        </td>
                        <td>{{ research.year }}</td>
                        <td>{{ research.subject }}</td>
                        <td>{{ research.role }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    {% endwith %}

    {% with person|get_localizations as localizations %}
    {% if localizations|length > 0 %}
    <div role="tabpanel" class="tab-pane {% if person.number_of_courses == 0 and person.number_of_affiliations == 0 and not person.is_investigator %}active{% endif %}" id="person-locations">

        <!-- Locations -->

        <div class="panel panel-mbl">
            <div class="panel-heading">
                <h3>Locations</h3>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <td>Year</td>
                        <td>Location</td>
                    </tr>
                </thead>
                <tbody>
                    {% for localization in localizations %}
                    <tr>
                        <td>{{ localization.year }}</td>
                        <td>{{ localization.location.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    {% endif %}
    {% endwith %}
    </div>
</div>


{% with person as instance %}
{% include "browser/investigator_delete_modal.html" %}
{% include "browser/history_modal.html" %}
{% endwith %}
{% endblock %}
