{% extends "browser/base.html" %}
{% load app_filters %}
{% block title %}{{ person.name }} (Person){% endblock %}

{% load staticfiles %}
{% block main %}
<script>
        $(document).ready(function() {

            {% if request.GET.tab %}
                $('.nav-tabs a[href="#' + "{{request.GET.tab}}" + '"]').tab('show');
            {% endif %}

            $('#dropdownRoles').change(function(){
                  var roleToShow = $('#dropdownRoles').val();
                  $("#PositionTable").find("tbody>tr").each(function(idx, item) {
                    var roleTd = $(item).children()[5];
                    var roleId = $(roleTd).data('role-id');
                    if(roleId == roleToShow || roleToShow=="ALL") {
                      $(item).show();
                    } else {
                      $(item).hide();
                    }
                  });
            });

            $('[data-curation-tooltip]').tooltip();

            $(".DeletePosition").click(function(){
                $('#DeletePositionModalForm').attr('action', $(this).attr("data-url"));
                $(".modal-body #DeletePositionModalSubject").text($(this).attr("data-subject"));
                $(".modal-body #DeletePositionModalRole").text($(this).attr("data-role"));
                $(".modal-body #DeletePositionModalYear").text($(this).attr("data-year"));
                $(".modal-body #DeletePositionModalStartDate").text($(this).attr("data-start-date"));
                $(".modal-body #DeletePositionModalEndDate").text($(this).attr("data-end-date"));
                $('#DeletePositionModal').modal('show');
           });

            $(".DeleteAffiliation").click(function(){
                $('#DeleteAffiliationModalForm').attr('action', $(this).attr("data-url"));
                $(".modal-body #DeleteAffiliationModalPosition").text($(this).attr("data-position"));
                $(".modal-body #DeleteAffiliationModalInstitution").text($(this).attr("data-institution"));
                $('#DeleteAffiliationModal').modal('show');
           });

        });
</script>

<div class="alert alert-mbl">
    Person
    <div>
        <span class="h1">{{ person.name }}</span>

        {% if user.is_staff %}
        <span class="pull-right btn-group btn-group-lg">
            <a class="btn btn-lg fa fa-history"
                aria-hidden="true"
                data-curation-tooltip="tooltip"
                title="View curation history for {{person.name}}"
                data-toggle="modal"
                data-target="#historyModal">
            </a>
            <a class="btn btn-lg fa fa-edit"
                aria-hidden="true"
                data-toggle="tooltip"
                title="Edit record for {{person.name}}"
                href="{% url "edit-person" person.id %}">
            </a>
            <a class="btn btn-lg fa fa-code-fork"
                aria-hidden="true"
                data-toggle="tooltip"
                title="Fork record for {{person.name}}"
                href="{% url "split-person" person.id %}">
            </a>
            <a class="btn btn-lg fa fa-flask"
                aria-hidden="true"
                data-toggle="tooltip"
                title="Add an investigator record for {{person.name}}"
                href="{% url "add-investigator" person.id %}">
            </a>
            <a class="btn btn-lg fa fa-id-badge"
                aria-hidden="true"
                data-toggle="tooltip"
                title="Add a position record for {{person.name}}"
                href="{% url "position" person.id %}">
            </a>
        </span>
        {% endif %}
    </div>
    {% if person.authority %}
    <div class="text-warning">
        <span class="glyphicon glyphicon-barcode"></span>
        {{ person.authority.conceptpower_uri|urlize }}
    </div>
    {% endif %}
    {% if person.validated %}
    <div>
        <span class="glyphicon glyphicon-ok" style="color:green;"></span>&nbsp;
        Validated by {{ person.validated_by }} on {{ person.validated_on }}.
    </div>
    {% endif %}
</div>

<div class="container">
<!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        {% with person|get_affiliations as affiliations %}
        {% if affiliations|length > 0 %}
        <li role="presentation" class="active"><a href="#person-affiliations" aria-controls="affiliations" role="tab" data-toggle="tab">Affiliations</a></li>{% endif %}
        {% if person.number_of_courses > 0 %}<li role="presentation"{% if affiliations|length == 0 %} class="active"{% endif %}><a href="#person-courses" aria-controls="courses" role="tab" data-toggle="tab">Courses</a></li>{% endif %}
        {% if person.is_investigator %}<li role="presentation"{% if person.number_of_courses == 0 and affiliations|length == 0 %} class="active"{% endif %}><a href="#person-investigations" aria-controls="research" role="tab" data-toggle="tab">Research</a></li>{% endif %}
        {% if person.number_of_locations > 0 %}<li role="presentation">{% if person.number_of_courses == 0 and affiliations|length == 0 and not person.is_investigator %} class="active"{% endif %}<a href="#person-locations" aria-controls="locations" role="tab" data-toggle="tab">Locations</a></li>{% endif %}
        {% endwith %}
        {% with person|get_positions as positions %}
        {% if positions|length > 0 %}
        <li role="presentation"><a href="#person-positions" aria-controls="positions" role="tab" data-toggle="tab">Positions</a></li>
        {% endif %}
        {% endwith %}
    </ul>

    <div class="tab-content">
      {% with person|get_affiliations as affiliations %}
      {% if affiliations|length > 0 %}
      <div role="tabpanel" class="tab-pane active" id="person-affiliations">
        <!-- Affiliations -->

        <div class="panel panel-mbl">
            <div class="panel-heading">
                <h3>Affiliations</h3>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        {% if user.is_staff %}
                        <th class="col-xs-1"></th>
                        {% endif %}
                        <td>Year</td>
                        <td>Position</td>
                        <td>Institution</td>
                    </tr>
                </thead>
                <tbody>
                    {% for affiliation in affiliations %}
                    <tr>
                        {% if user.is_staff %}
                        <td>
                            <a class=" btn btn-xs fa fa-edit"
                               aria-hidden="true"
                               href="{% url "edit-affiliation" person.id affiliation.id %}">
                            </a>
                            <a class="btn btn-sm fa fa-trash DeleteAffiliation"
                                aria-hidden="true"
                                data-toggle="modal"
                                data-url="{% url "delete-affiliation" person.id affiliation.id %}"
                                data-position = "{{affiliation.position}}"
                                data-institution = "{{affiliation.institution}}"
                            >
                            </a>
                        </td>
                        {% endif %}
                        <td>{{ affiliation.year }}</td>
                        <td>{{ affiliation.position }}</td>
                        <td>
                            {% if affiliation.institution %}
                                <a href="{% url "institution" affiliation.institution.id %}">{{ affiliation.institution.name }}</a>
                            {% endif %}
                            {% with affiliation|get_count_of_affiliations as count_duplicates %}
                                {% if count_duplicates > 1 %}
                                <span class="badge" rel="tooltip" title="There are duplicate entries for this data">{{ count_duplicates }}</span>
                                {% endif %}
                            {% endwith %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    <!-- Courses -->
    {% with person|get_attendance as attendances %}
    {% if attendances|length > 0 %}

    <div role="tabpanel" class="tab-pane {% if affiliations|length == 0 %}active{% endif %}" id="person-courses">
        <div class="panel panel-mbl">
            <div class="panel-heading">
                <h3>Courses</h3>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <td>Year</td>
                        <td>Role</td>
                        <td>Course</td>
                    </tr>
                </thead>
                <tbody>
                    {% for attendance in attendances %}
                    <tr>
                        <td>{{ attendance.year }}</td>
                        <td>{{ attendance.role }}</td>
                        <td><a href="{% url "course" attendance.course.id %}">{{ attendance.course.name }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    {% endif %}
    {% endwith %}


    <!-- Research -->
    {% with person|get_researches as researches %}
    {% if researches|length > 0 %}
    <div role="tabpanel" class="tab-pane {% if person.number_of_courses == 0 and affiliations|length == 0 %}active{% endif %}" id="person-investigations">
        <div class="panel panel-mbl">
            <div class="panel-heading">
                <h3>Research at the MBL</h3>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        {% if user.is_staff %}
                        <th class="col-xs-1"></th>
                        {% endif %}
                        <td>Year</td>
                        <td>Subject</td>
                        <td>Role</td>
                    </tr>
                </thead>
                <tbody>
                    {% for research in researches %}
                    <tr>
                        {% if user.is_staff %}
                        <td>
                            <a class=" btn btn-xs fa fa-edit"
                               aria-hidden="true"
                               id="edit"
                               href="{% url "edit-investigator" person.id research.id %}">
                            </a>
                            <a class="btn btn-xs fa fa-trash"
                                aria-hidden="true"
                                data-toggle="modal"
                                href="#"
                                data-target="#InvestigatorDeleteModal{{research.id}}"
                            >
                            </a>
                        </td>
                        {% endif %}
                        <td>{{ research.year }}</td>
                        <td>{{ research.subject }}</td>
                        <td>{{ research.role }}</td>
                    </tr>

                    <!-- Delete Investigator modal section starts here -->
                    <div class="modal fade" id="InvestigatorDeleteModal{{research.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="deleteModalLabel">Delete Investigation record</h4>
                          </div>

                          <form action=" {% url "delete-investigator" person.id research.id %}" method="post">
                            {% csrf_token %}
                          <div class="modal-body">
                            <h5>
                              Are you sure you want to delete following data for <strong>{{person.name}}</strong>: <br><br>
                              <div class="form-group">
                                <strong>Year:</strong> <br><label style="font-weight:normal" >{{research.year}}</label>
                              </div>

                              <div class="form-group">
                                <strong>Subject:</strong> <br> <label style="font-weight:normal">{{research.subject}}</label>
                              </div>

                              <div class="form-group">
                                <strong>Role:</strong> <br> <label style="font-weight:normal" >{{research.role}}</label>
                              </div>
                            </h5>
                          </div>
                          <div class="modal-footer">
                            <input class="btn btn-danger" type="submit" name="DeleteInvestigator" id="DeleteInvestigator" value="Delete">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <!-- Delete Investigator modal section ends here -->

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    {% endwith %}

    {% with person|get_localizations as localizations %}
    {% if localizations|length > 0 %}
    <div role="tabpanel" class="tab-pane {% if person.number_of_courses == 0 and affiliations|length == 0 and not person.is_investigator %}active{% endif %}" id="person-locations">

        <!-- Locations -->

        <div class="panel panel-mbl">
            <div class="panel-heading">
                <h3>Locations</h3>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <td>Year</td>
                        <td>Location</td>
                    </tr>
                </thead>
                <tbody>
                    {% for localization in localizations %}
                    <tr>
                        <td>{{ localization.year }}</td>
                        <td>{{ localization.location.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    {% endif %}
    {% endwith %}

    <!-- Positions -->
    {% with person|get_positions as positions %}
    {% if positions|length > 0 %}
    <div role="tabpanel" class="tab-pane" id="person-positions">
        <div class="panel panel-mbl">
            <div class="panel-heading">
                <h3>Positions</h3>
            </div>
            <div class="container">
              <div>
                <select style="width: 200px" class="form-control input-sm pull-right" id="dropdownRoles">
                  <!-- Constructs role dropdown with 'All Roles' and values from databases  -->
                  <option value="ALL">Show all Roles</option>
                  {% get_roles_of_positions as role_types %}
                      {% for i in role_types %}
                  <option value="{{i.0}}">{{i.1}}</option>
                      {% endfor %}
                </select>
              </div>
            </div>
            <table class="table" id="PositionTable">
                <thead>
                    <tr>
                        {% if user.is_staff %}
                        <th class="col-xs-1"></th>
                        {% endif %}
                        <td>Year</td>
                        <td>Start Date</td>
                        <td>End Date</td>
                        <td>Subject</td>
                        <td>Role</td>
                    </tr>
                </thead>
                <tbody class="AllPositionData">
                    {% for position in positions %}
                    <tr>
                        {% if user.is_staff %}
                        <td>
                            <a class=" btn btn-sm fa fa-edit"
                               aria-hidden="true"
                               id="edit_position"
                               href="{% url "position" person.id position.id %}">
                            </a>
                            <a class="btn btn-sm fa fa-trash DeletePosition"
                                aria-hidden="true"
                                data-toggle="modal"
                                data-url="{% url "delete-position" person.id position.id %}"
                                data-subject = "{{position.subject}}"
                                data-role = "{{position.get_role_display}}"
                                data-year = "{{position.year}}"
                                data-start-date = "{{position.start_date}}"
                                data-end-date = "{{position.end_date}}"
                            >
                            </a>
                        </td>
                        {% endif %}
                        <td>{{ position.year }}</td>
                        {% if position.start_date is None %}
                        <td>-</td>
                        {% else %}
                        <td>{{ position.start_date }}</td>
                        {% endif %}
                        {% if position.end_date is None %}
                        <td>-</td>
                        {% else %}
                        <td>{{ position.end_date }}</td>
                        {% endif %}
                        <td>{{ position.subject }}</td>
                        <td data-role-id="{{ position.role }}">{{ position.get_role_display }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    {% endif %}
    {% endwith %}
    {% endwith %}

    </div>
</div>

    {% with person as instance %}
    {% include "browser/history_modal.html" %}
    {% endwith %}


<!-- Delete Position modal section starts here -->
<div class="modal fade" id="DeletePositionModal" tabindex="-1" role="dialog" aria-labelledby="DeletePositionModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="DeletePositionModalLabel"><strong>Delete Position</strong></h4>
            </div>

            <form id="DeletePositionModalForm" action="." method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <h4>
                        Are you sure you want to delete the following position record: <br><br>
                        <div class="form-group">
                            <strong>Subject:</strong><br><label style="font-weight:normal" id="DeletePositionModalSubject"/>
                        </div>
                        <div class="form-group">
                            <strong>Role:</strong><br><label style="font-weight:normal" id="DeletePositionModalRole"/>
                        </div>
                        <div class="form-group">
                            <strong>Year:</strong><br><label style="font-weight:normal" id="DeletePositionModalYear"/>
                        </div>
                        <div class="form-group">
                            <strong>Start Date:</strong><br><label style="font-weight:normal" id="DeletePositionModalStartDate"/>
                        </div>
                        <div class="form-group">
                            <strong>End Date:</strong><br><label style="font-weight:normal" id="DeletePositionModalEndDate"/>
                        </div>
                    </h4>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-danger" type="submit" value="Delete">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- Delete Position modal section ends here -->

<!-- Delete Affiliation modal section starts here -->
<div class="modal fade" id="DeleteAffiliationModal" tabindex="-1" role="dialog" aria-labelledby="DeleteAffiliationModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="DeleteAffiliationModalLabel"><strong>Delete Affiliation</strong></h4>
            </div>

            <form id="DeleteAffiliationModalForm" action="." method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <h4>
                        Are you sure you want to delete the following affiliation record: <br><br>
                        <div class="form-group">
                            <strong>Position:</strong><br><label style="font-weight:normal" id="DeleteAffiliationModalPosition"/>
                        </div>
                        <div class="form-group">
                            <strong>Institution:</strong><br><label style="font-weight:normal" id="DeleteAffiliationModalInstitution"/>
                        </div>
                    </h4>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-danger" type="submit" value="Delete">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- Delete Affiliation modal section ends here -->

{% endblock %}
